body {
  background-image: url("../img/grainbg.png");
}

/* ------------------ WEB -------------------- */
@media screen and (min-width: 600px) {
  /* TEKST */
  h1 {
    position: relative;
    margin-top: 10%;
    left: 15%;
  }

  .tekstOm {
    max-width: 500px;
    position: relative;
    left: 10%;
    line-height: 2em;
  }

  h4 {
    position: relative;
    left: 5%;
    margin-top: 0;
  }
  h6{
    position: relative;
    margin-top: -5%;
    left: 10%;
    margin-bottom: 0;
  }
  /* Billeder */
  #storPil {
    position: relative;
    top: 20%;
    left: 15%;
    max-width: 210px;
  }

  .siljeBW {
    max-width: 580px;
    position: absolute;
    top: 15%;
    left: 10%;
    z-index: -1;
  }
  .tape1 {
    max-width: 200px;
    position: absolute;
    top: 31%;
    left: 40%;
  }
  .tape2 {
    max-width: 200px;
    position: absolute;
    top: 12%;
    left: 6%;
  }

  #stærke {
    position: relative;
    margin-top: 15%;
    margin-bottom: 0;
    left: 80%;
  }

  #skema {
    position: relative;
    margin-top: 0;
    margin-left: 11%;
    margin-bottom: 10%;
    text-align: center;
  }
}

/* ------------------ MOBIL -------------------- */
@media screen and (max-width: 600px) {
  /* TEKST */
  h1 {
    position: relative;
    margin-top: 5%;
    left: 15%;
  }

  .tekstOm {
    max-width: 340px;
    text-align: center;
    position: relative;
    margin-left: 12%;
    top: 5%;
  }

  h4 {
    position: relative;
    left: 5%;
    margin-top: 0;
  }

  h6{
    font-size: 35px;
    position: relative;
    margin-top: 75%;
    left: 40%;
    margin-bottom: 0;
  }

  /* grid , OBS her passer navne og mål ikke, det er med vilje */
  .grid1_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid1_1 {
    display: grid;
    grid-template-columns: 1fr;
  }

  /* Billeder */
  #storPil {
    display: none;
  }

  .siljeBW {
    max-width: 380px;
    position: absolute;
    top: 12%;
    left: 5%;
    z-index: -1;
  }
  .tape1 {
    max-width: 120px;
    position: absolute;
    top: 30%;
    left: 75%;
  }
  .tape2 {
    max-width: 120px;
    position: absolute;
    top: 9%;
    left: -3%;
  }

  #stærke {
    max-width: 90px;
    position: relative;
    margin-top: 15%;
    margin-bottom: 0;
    left: 75%;
  }

  #skema {
    max-width: 380px;
    position: relative;
    margin-top: 0;
    margin-left: 5%;
    margin-bottom: 5%;
    text-align: center;
  }
  /* footer */
  footer {
    display: none;
  }
}
